body {
    margin: 60px auto;
    width: 70%;
    text-align: center;
}
.landing {
    background: #fc6076;
    background: -webkit-linear-gradient(to top, #fc6076, #ff9a44);
    background: linear-gradient(to top, #fc6076, #ff9a44);
    height: 100vh;
    width: 100vw;
    display: table
}

.landing .landing-bg {
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in
}

.landing .landing-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 999
}

.landing .landing-text h1 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline;
    color: #FFFFFF
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}