body {
    margin: 0;
    overflow-x: hidden;
}

.landing {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: table;
}

.landing .titletext {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 999;
}

.landing .titletext h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline;
    color: #FFFFFF;
}

.landing .titletext p {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFFFF;
}

a {
    color: #95BF4C;
    font-weight: 575;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #FFFFFF;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #95BF4C;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

footer {
    font-family: 'Lato', sans-serif; 
    font-size: 1rem; 
    color: #95BF4C; 
    font-weight: bold;
    text-align: center;
}
