body {
  margin: 0;
  overflow-x: hidden;
}

.landing {
    background: url("./images/Landing.JPG") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.title {
  background-size: cover;
  height: 48vh;
  width: 100vw;
  display: table;
}

.title .titletext {
  display: table-cell;
  padding-top: 30vh;
  text-align: center;
  z-index: 999;
}

.title .titletext h1 {
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline;
  color: #001f3f;
  font-family: 'Capriola', sans-serif;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  height: 8vh;
  width: 50vw;
  overflow: hidden;
  background-color: rgba(130,150,190,0.05);
  border-radius: 25px;
  display: block;
}

ul li {
  height: 10vh;
  float: left;
  text-align: center;
  width: 16.667%;
  font-family: 'Lato', sans-serif;
}

ul li a {
  display: block;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 8vh;
  color: #001f3f;
}

ul li a:hover {
  background-color: #D3D3D3;
}

a {
  color: #000000;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
