body {
    margin: 0;
}
.landing {
    background: linear-gradient(#1097FF, #00FF43);
    height: 100vh;
    width: 100vw;
    display: table
}
.landing .titletext {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 999
}
.landing .titletext h1{
    color: #FFFFFF;
    size: 6rem;
    font-weight: 700;
}
.landing .titletext h2{
    color: #FFFFFF;
    size: 2rem;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    list-style: none;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: #FFFFFF;
    size: 5rem;
}
h4 {
    size: 3rem;
}
h5 {
    color: #FFFFFF;
    size: 1rem;
}
p {
    size: 1.5rem;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8rem;
}